footer{
  background-color: #535253;
  .footer{
    margin-left: 64px;
    display: flex;
    background-color: #535253;
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
    img{
      width: 100%;
      height: 100%;
    }
    .footer__text{
      padding-left: 20px;
      font-family: "Quicksand Bold";
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
    }
  }
  .footer__info{
    height: 352px;
    background-color: #424242;
    padding-left: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-author{
      display: flex;
      flex-direction: column;
      padding-right: 65px;
      .navigation{
        ul{
          li{
            display: inline-block;
            padding-right: 5px;
            a{
              text-decoration: none;
              color: #ffffff;
              font-family: "Quicksand Bold";
              font-weight: 400;
              line-height: 28px;
              font-size: 14px;
            &:hover{
              text-decoration: underline;
            }
          }
          }
        }
      }
      .author{
        p{
          color: #ffffff;
          font-family: "Quicksand Bold";
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }
    .footer__column{
      display: flex;
      flex-direction: column;
      justify-content: start;
      // align-content: center;
      .footer__title{
        text-align: left;
        p{
          text-transform: uppercase;
          font-family: "Quicksand Bold";
          font-size: 20px;
          text-align: left;
          font-weight: 400;
          color: #ffffff;
        }
      }
      .footer__subtitle{
        width: 100%;
        max-width: 306px;
        p{
          font-family: "Quicksand Bold";
          font-size: 10px;
          font-weight: 400;
          line-height: 20px;
          color: #ffffff;
          text-transform: uppercase;
        }
      }
    }
  }
}
