header{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  color:#ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  nav{

      font-size: 18px;
      font-weight: 400;
      ul{
          list-style: none;
          display: flex;
          li{
              a{
                  font-family: 'Quicksand Bold';
                  color: #ffffff;
                  text-decoration: none;
                  padding: 0 20px;
                  &:hover{
                      text-decoration: underline;
                  }
              }
          }
      }
  }
}
