<div class="hero">
  <h1>Our clothing , your comfort</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  <div class="scroll">
      <a href="#scroll">
          <img src="../assets/chevron.png" alt="chevron">
      </a>

  </div>

</div>
<div class="filter" id="scroll" >
  <div class="filter-check">
      <div class="filter-form">
        <label>
          <input [(ngModel)]="isManVisible" type="checkbox" name="Men">
          Men
        </label>
      </div>
      <div class="filter-form">
        <label>
          <input [(ngModel)]="isManVisible" type="checkbox" name="Men">
          Women
        </label>
      </div>
      <div class="filter-form">
      </div>

  </div>

  <div class="filter-submit">
      <button (click)="seeAllProduct()">
          see all products
      </button>

  </div>

</div>

<div class="catalog ">
  <app-slider *ngIf="isManVisible" [header]="'Men(' + menSlider.length + ')'" [slider]="menSlider"></app-slider>
  <app-slider *ngIf="isWomenVisible" [header]="'Women(' + womenSlider.length + ')'" [slider]="womenSlider"></app-slider>
</div>
<div class="about">
    <div class="about-div">
        <div class="title">
            <p>about us</p>
          </div>
          <div class="text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation
              </p>
          </div>
            </div>
</div>
