<div class="wrapper">
  <header>
      <div class="logo">
          <img src="../assets/logo.png" alt="Logo">
      </div>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Products</a></li>
              <li>
                  <a href="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20"><g><g><path fill="#fff" d="M9.23 18.177a1.826 1.826 0 0 0-1.846-1.817c-1.024 0-1.846.809-1.846 1.817 0 1.009.822 1.818 1.846 1.818s1.846-.81 1.846-1.818zm12.923 0a1.826 1.826 0 0 0-1.846-1.817c-1.024 0-1.846.809-1.846 1.817 0 1.009.822 1.818 1.846 1.818s1.846-.81 1.846-1.818zm1.846-15.449a.922.922 0 0 0-.923-.908H5.755C5.61 1.138 5.595.002 4.615.002H.923A.922.922 0 0 0 0 .911c0 .497.418.909.923.909h2.942l2.553 11.686c-.202.411-.88 1.505-.88 1.945 0 .497.418.909.923.909H21.23a.922.922 0 0 0 .923-.909.923.923 0 0 0-.923-.909H7.96c.144-.284.346-.582.346-.908 0-.327-.13-.682-.187-.995l15.057-1.732a.924.924 0 0 0 .822-.909z"/></g></g></svg>
                  </a>
          </li>
          </ul>
      </nav>
  </header>
  <div class="hero">
      <h1>Our clothing , your comfort</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      <div class="scroll">
          <a href="#">
              <img src="../assets/chevron.png" alt="chevron">
          </a>

      </div>

  </div>
  <div class="filter" >
      <div class="filter-check">
          <div class="filter-form">
              <input type="checkbox" id="checkbox1"  checked="checked">
              <label for="">Men</label>
          </div>
          <div class="filter-form">
              <input type="checkbox" id="checkbox2" checked="checked" >
              <label for="">Women</label>
          </div>
          <div class="filter-form">
              <input type="checkbox" name="" id="checkbox3" >
              <label for="">Children</label>
          </div>

      </div>

      <div class="filter-submit">
          <button>
              see all products
          </button>

      </div>

  </div>

  <div class="catalog container">
    <div class="header">
      <div class="header-text">men</div>
    </div>
      <!-- <div class="items-btn">
        <button (click)="moveLeft()">Left</button>
        <button (click)="moveRight()">Right</button>
      </div> -->


    <div class="items">
      <drag-scroll [scrollbar-hidden]="true">
        <div drag-scroll-item *ngFor="let item of sliderItems">
          <div  class="item">
            <div class="top">
              <div class="size">size</div>
              <div class="color">color</div>
            </div>
            <div class="img">
              <img src="../assets/item1.png" alt="">
            </div>
            <div class="bottom">
              <div class="name">{{ item.name }}</div>
              <div class="price">{{ item.price | currency:'EUR' }}</div>
            </div>
          </div>
        </div>
      </drag-scroll>
    </div>
    <div class="catalog-reverse">
      <div class="header-reverse">
        <div class="header-text">women</div>
      </div>
  </div>

    <!-- <div class="about">
        <div class="about-div">
            <div class="title">
                <p>about us</p>
              </div>
              <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                  </p>
              </div>
                </div>
        </div> -->

<!--
  <footer>

  </footer>
   -->
</div>
