@font-face {
	font-family: "Quicksand Book";
	src: url('../fonts/Quicksand Book.eot');
	src: local('☺'), url('../fonts/Quicksand Book.woff') format('woff'), url('../fonts/Quicksand Book.ttf') format('truetype'), url('../fonts/Quicksand Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand Bold';
	src: url('../fonts/Quicksand Bold.eot');
	src: local('☺'), url('../fonts/Quicksand Bold.woff') format('woff'), url('../fonts/Quicksand Bold.ttf') format('truetype'), url('../fonts/Quicksand Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

    header{
        position: absolute;
        top:0;
        left: 0;
        right:0;
        color:#ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
        nav{

            font-size: 18px;
            font-weight: 400;
            ul{
                list-style: none;
                display: flex;
                li{
                    a{
                        font-family: 'Quicksand Bold';
                        color: #ffffff;
                        text-decoration: none;
                        padding: 0 20px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }




.hero{
    color: #ffffff;
    background-image: url('../assets/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        font-family: 'Quicksand Bold';
        max-width: 798px;
        font-size: 60px;
        font-weight: 400;
    }
    p{
        font-family: "Quicksand Book";
        max-width: 586px;
        font-size: 20px;
        line-height: 1.6;
        font-weight: 400;
        text-align: center;
    }
    .scroll{
        a{
          text-align: center;
            position: absolute;
            left: 50%;
            bottom: 50px;
            background: none;
            border: none;
            cursor: pointer;
            outline: none !important;

        }

    }
}
.filter{
    padding:30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f6f7;
    height: 100%;
    max-height:143px;
    .filter-check{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 20px 20px;
        position: relative;
        vertical-align: middle;
        .filter-form{
            input[type=checkbox]{
                    background-color: #ffffff;
                    border: 2px solid #aa9b77;
            }
            label{
                margin: 15px;
                text-transform: uppercase;
                font-family: 'Quicksand Bold';
            }
        }
    }
    .filter-submit{
        padding: 64px 49px;
        button{
            width: 204px;
            height: 52px;
            background-color: #aa9b77;
            border: 0;
            color: #ffffff;
            font-family: 'Quicksand Bold';
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            border-radius: 3px;
            &:hover{
              background-color: #f5f6f7;
              color: #aa9b77;
              border:1px solid #aa9b77;
              transition: 0.5s;
            }
        }

    }
}
.catalog{
  padding:30px 0;
  margin: 0 100px;
  .items-btn{
    padding-bottom:30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    vertical-align: middle;
    button{
      padding: 10px 10px;
      background-color:#ffffff;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
  .header{
    display: flex;
    align-items: center;
    padding:30px 0;
    p{
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Quicksand Bold';
      padding-right: 50px;
    }
      &::after{
        content: "";
        width: 100%;
        height:2px;
        background-color: #cccccc;
        display: block;
      }

      }
    }
    .catalog-reverse{
      background-color: white;
      padding:30px 0;
      .header-reverse{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
        padding:30px 0;     
        p{
          padding: 0;
          font-size: 20px;
          text-transform: uppercase;
          font-family: 'Quicksand Bold';
          padding-left: 50px;
        }
          &::after{
            content: "";
            width: 100%;
            height:2px;
            background-color: #cccccc;
            display: block;
          }
    
        }
    }
    .items{
      display: flex;  
      .item{
        min-width: 320px;
        height: 100%;
        max-height:378px;
        background-color: #f5f6f7;
        border: 6px solid transparent;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Quicksand Bold';
        margin: 0 25px 0 0;
        
        &:hover{
          border: 6px solid #aa9b77;
        }
        .top,.bottom{
          display: flex;
          justify-content: space-between;
          padding: 18px;
        }
        .name{
          color:#aa9b77;
        }
        .img{
          text-align: center;
        }

      }
    }
.about{
    background-color: #aa9b77;
    width: 100%;
    min-height: 402px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    vertical-align: middle;

    text-align: center;
.about-div{
    background-color: #aa9b77;
    max-width: 469px;
    text-align: center;
    .title{
        p{
          text-transform: uppercase;
          color: #837659;  
          font-size: 20px;
          font-family: 'Quicksand Bold';
          font-weight: 400;
        }
    }
        .text{
            p{
              line-height: 24px;
              color: #424242;
              font-family: 'Quicksand Bold';
              font-weight: 400;
            }
        }
    }
}
