@font-face {
	font-family: "Quicksand Book";
	src: url('../fonts/Quicksand Book.eot');
	src: local('☺'), url('../fonts/Quicksand Book.woff') format('woff'), url('../fonts/Quicksand Book.ttf') format('truetype'), url('../fonts/Quicksand Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand Bold';
	src: url('../fonts/Quicksand Bold.eot');
	src: local('☺'), url('../fonts/Quicksand Bold.woff') format('woff'), url('../fonts/Quicksand Bold.ttf') format('truetype'), url('../fonts/Quicksand Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}














